<form method="post" action="{{ path('admin_trabajador_delete', {'trabajador': trabajador.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trabajador.id) }}">
    <button class="btn btn-sm btn-danger delete">{{ 'eliminar'|trans({},'admin') }}</button>
</form>
