{% extends 'base.html.twig' %}

{% block title %}Edit Trabajador{% endblock %}

{% block body %}
    <h1>Edit Trabajador</h1>

    {{ include('admin/trabajador/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('trabajador_index') }}">back to list</a>

    {{ include('admin/trabajador/_delete_form.html.twig') }}
{% endblock %}
