{% extends 'homer-theme/layout.html.twig' %}
{% block title %}Editar Trabajador{% endblock %}
{% block panel_title %}Editar Trabajador{% endblock %}
{% block panel_body %}
    {{ include('admin/trabajador/_form.html.twig', {'button_label': 'guardar'|trans({},'admin')}) }}
    <div class="pull-right">
        {{ include('admin/trabajador/_delete_form.html.twig') }}
    </div>
{% endblock %}
