{% extends 'homer-theme/layout.html.twig' %}
{% block title %}Editar Trabajador{% endblock %}
{% block panel_title %}Editar Trabajador{% endblock %}
{% block panel_body %}
    {{ include('admin/trabajador/_form.html.twig', {'button_label': 'guardar'|trans({},'admin')}) }}
    <div class="pull-right">
        {{ include('admin/trabajador/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').validate();

            let btn = $('.delete');
            let form = btn.parent('form');
            btn.click(function () {
                swal({
                        title: "Estás seguro",
                        text: "¡No podrá recuperar los datos del trabajador!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Si, bórralo!",
                        cancelButtonText: "Cancelar"
                    },
                    function (isConfirm) {
                        console.log(form);
                        if (isConfirm) form[0].submit();
                    });
            });
            form.on('submit', function (e) {
                e.preventDefault();
            });
        });
    </script>
{% endblock %}
