{% extends 'homer-theme/layout.html.twig' %}
{% block title %}New Trabajador{% endblock %}
{% block panel_title %}New Trabajador{% endblock %}
{% block panel_body %}
    {{ include('admin/trabajador/_form.html.twig') }}

    <a href="{{ path('trabajador_index') }}">{{ 'back to list'|trans({},'nomenclador') }}</a>
{% endblock %}
