{% extends 'homer-theme/layout.html.twig' %}
{% block title %}Editar estructura{% endblock %}
{% block panel_title %}Editar estructura{% endblock %}
{% block panel_body %}
    {{ include('admin/estructura/_form.html.twig', {'button_label': 'guardar'|trans([],'admin')}) }}

    <div class="pull-right">
        {{ include('admin/estructura/_delete_form.html.twig') }}
    </div>
{% endblock %}
