{% extends 'homer-theme/layout.html.twig' %}

{% block title %}Apertura de saca{% endblock %}
{% block panel_title %}Apertura de saca{% endblock %}
{% block panel_body %}
    <p style="border-bottom:1px solid #000000;"><strong>CODIGO DE LA SACA</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div class="row col-md-12 m-b">

        <div class="col-md-4">
            <input id="text_cod_tracking" class="form-control" type="text" value="" onchange="">
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" onclick="buscarEnviosSacas()"><i class="fa fa-search"></i> Buscar saca</button>
        </div>
    </div>

    <div id="envios"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js',{ callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('js/saca.js') }}"></script>

{% endblock %}