<form method="post" action="{{ path('nomenclador_delete', {'id': nomenclador.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nomenclador.id) }}">
    <button class="btn">Delete</button>
</form>
