{% set parent = null %}
{% if entity.parent is defined %}
    {% set parent = entity.parent %}
{% endif %}
{% if settings.routes.delete and parent != null %}
    <form method="post" action="{{ path(settings.routes.delete, {'id': entity.id}) }}">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
        <button class="btn btn-sm btn-danger delete">{{ 'eliminar'|trans([],settings.translation_domain) }}</button>
    </form>
{% endif %}
