{% extends 'homer-theme/layout.html.twig' %}
{% block title %}Editar localización{% endblock %}
{% block panel_title %}Editar localización{% endblock %}
{% block panel_body %}
    {{ include('admin/localizacion/_form.html.twig', {'button_label': 'guardar'|trans([],'admin')}) }}

{#    <div class="pull-right">#}
{#        {{ include('admin/localizacion/_delete_form.html.twig') }}#}
{#    </div>#}
{% endblock %}
