{% block wrapper_small_header %}
{#<div class="small-header transition animated fadeIn">#}
{#    <div class="hpanel">#}
{#        <div class="panel-body">#}
{#            <div id="hbreadcrumb" class="pull-right">#}
{#                <ol class="hbreadcrumb breadcrumb">#}
{#                    <li><a href="index.html">Dashboard</a></li>#}
{#                    <li>#}
{#                        <span>Forms</span>#}
{#                    </li>#}
{#                    <li class="active">#}
{#                        <span>Forms elements </span>#}
{#                    </li>#}
{#                </ol>#}
{#            </div>#}
{#            <h2 class="font-light m-b-xs">#}
{#                Forms elements#}
{#            </h2>#}
{#            <small>Examples of various form controls.</small>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{% endblock %}
