{% extends 'homer-theme/base.html.twig' %}
{% block title %}Error 404{% endblock %}
{% block bodyClass %}blank{% endblock %}
{% block layout %}
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a
            href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="error-container">
        <i class="pe-7s-way text-success big-icon"></i>
        <h1>404</h1>
        <strong>Página no encontrada</strong>
        <p>
            Lo sentimos, pero la página que busca se ha encontrado. Intente verificar la URL en busca de error, luego
            presione el botón de actualización en su navegador o intente encontrar algo más en nuestra aplicación.
        </p>
        <a href="javascript: history.go(-1)" class="btn btn-xs btn-success">Volver atrás</a>
    </div>
{% endblock %}
